.head{
	height:40px;
	line-height: 40px;
	background-color: #F7F7F7;
}
.head span{
	background:url(../image/star.jpg) 10px center no-repeat;
	text-indent: 30px;
	font-family:"宋体","simsun";
	font-weight: bold;
}
.head p{
	font
}

/*logo位置*/
.headamong{
	height:85px;
	background-color: #1D7AD9;
}
.logoPos{
	width: 112px;
	height: 59px;
    margin-left:40px;
    margin-top: 15px;
  
  
}

.searchText{
   margin-left:120px;
   height: 37px;
   width: 430px;
   margin-top: 25px;
}
.searchMessage{
	height:37px;
	width: 360px;
	border: 0;
}
.searchButton{
	height:37px;
	width:70px;
	border: 0;
	background-color: #FF8C00;
}
.shopcar{
	height: 37px;
	width: 145px;
	background-color: #FF8800;
	line-height: 37px;
	margin-right: 60px;
	 margin-top: 25px;
}
.shopcar span{
	text-indent:40px;
	height:37px;
	width:90px;
	background: url("../image/shopCar.jpg") 10px center no-repeat;
	border-right: 1px solid #E27A00;
}
.shopcar li{
	height:37px;
	width:34px;
background: url("../image/shopnum.jpg") 10px center no-repeat;
}
/*导航栏部分*/

.guideLine{
	color: #FFFFFF;
	height:35px;
	text-align:center;
	background-color: #1369C0;
	line-height: 35px;
	font-family:"微软雅黑";
	
}
.guideLine h3{
	position:relative;
	height:35px;
	width:190px;
	font-size: 16px;
	float: left;
	background: url("../image/lowTra.jpg") 160px center no-repeat;

}
.guideLine ul{
	float: left;
	height: 35px;
	width: 600px;
	margin-left: 30px;
	
}
.guideLine li{

	height:35px;
	width:100px;
	font-size:14px;
	float: left;

}
.active{
	background-color: #4593FD;
}
/*底部详细目录部分*/
.goodD{
	margin-top: 17px;
	height:1600px;
}

.leftAr{
	width:185px;
	line-height:25px;
	text-align: center;
	background-color: #F3F3F3;
}
.leftAr dl{
	border: 1px solid #D7D7D7;
	border-bottom: none;
}
.banner{
	height:326px;
	width: 811px;
}
.guidel{
	width: 812px;
}
.guidel h3{
	text-indent: 15px;
    margin-top: 15px;
	border-bottom: 1px solid #CCCCCC;
	line-height: 30px;
}
.goodp{
	
}
.goodp div{
	height:300px;
	width: 203px;
	text-align: center;
	line-height: 18px;
	float: left;

	 
}


















/*foot*/
.foot{
	padding-top:55px;
	line-height:27px;
	height:223px;
	width:100%;
    text-align: center;
	background-color: #D4D4D4;
}
.foot img{
	margin-top:38px;
	margin-left: 11px;
	margin-right: 11px;
}










