/action/
/db/
/entity/
/goodsDe/
/service/
/service_impl/
/testAddressDAO/
/testAdminDAO/
/testClassifyDAO/
/testConsultDAO/
/testGoodsDAO/
/testInvoiceDAO/
/testRecommendation/
/testShopCarDAO/
/testTradeDAO/
/testTradeGoodsDAO/
/testUsersDAO/
/testValuation/
